$violeta-ID: #78448f;
$verde-ID: #5b9d94;
$blanco-ID: #eff8f7;
$gradiente-ID: linear-gradient(268.06deg, #78448F -9.12%, #626DB5 48.25%, #5B9D94 102.31%);
@import "tipografia";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}

body {

    width: 100%;
    background-color: #f8f8f9;

}

header {
    max-width: 100%;
    .logoHeader{
        transition: all 0.2s;
        &:active{
            transform: scale(0.98);
        }
    }
    .navbar {
        width: 100%;
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, 0.15);
        z-index: 7;

        li {
            color: $violeta-ID;
            margin-left: 2rem;
            transition: .3s;

            &:hover {
                color: $verde-ID;
            }
        }

        .dropdown-menu {
            li {
                margin-left: 0px;
            }

        }

        #navbarDropdownMenuLink {
            color: $violeta-ID;

            &:hover {
                color: $verde-ID;
            }


        }

        .dropdown-menu {
            a {
                color: $violeta-ID;
            }

        }



    }
}

main {
    margin-top: 4rem;
    max-width: 100%;
}

@mixin boton ($violeta-ID, $blanco-ID) {
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    max-width: 400px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $violeta-ID;
    transition: background-color .3s;
    color: $blanco-ID;
    font-weight: 700;
    margin: auto;
    margin-top: 40px;
    letter-spacing: 3px;
    border-radius: 15px;
}

.sectionSomos {
    max-width: 100%;
    background-color: white;
    min-height: 570px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    gap: 8%;
    padding-top: 2rem;
    padding-bottom: 6rem;

    .textoSomos {
        margin-top: 6rem;

        p {
            margin: auto;
            text-align: center;
            max-width: 500px;
            max-height: 252px;
        }

        .buttonCursos {
            cursor: pointer;
            list-style: none;
            text-decoration: none;
            max-width: 400px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #78448f;
            transition: background-color .3s;
            color: white;
            font-weight: 700;
            margin: auto;
            margin-top: 40px;
            letter-spacing: 3px;
            border-radius: 15px;
            transition: all 0.2s;



        }




        a {
            text-decoration: none;
            color: transparent;

        }

        .buttonCursos:hover {
            background-color: #5b9d94;

        }
        .buttonCursos:active{
            transform: scale(0.98);

        }
    }

    img {
        margin-top: 4rem;
        max-width: 100%;
        height: auto;
        border-radius: 15px;
        box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, .17);
    }



}




.sectionTransformamos {
    width: 100%;
    min-height: 530px;
    background-image: linear-gradient(to right, #5b9d94, #99e4db);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: #fff fixed no-repeat 50% 30%;
    background-size: cover;
    background-image: url(../Images/img-transformamos.png);

    .imgTransformamos {
        max-width: 90%;
        height: auto;

    }


}

.nuestrosCursos {
    width: 100%;
    min-height: 700px;
    margin-top: auto;
    align-items: center;
    justify-content: center;

    .cardsCursos {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 1rem;
        margin: 1.3rem;

        p {
            text-align: center;
            font-weight: 600;
            letter-spacing: 1px;

        }

        .caja {
            background-color: white;
            width: 355px;
            margin: 10px;
            padding: 20px;
            border-radius: 20px;
            text-align: center;
            box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, 0.20);
            animation: Slide_Up .7s ease;

            .imgCursos img {
                margin-left: 2.5rem;

            }

            .tituloCurso {
                margin: 1rem;
                font-weight: 700;
                font-size: 1.17rem;
                color: #78448f;
            }

            .tiempoCursos {
                width: auto;
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                font-size: 1.06rem;
                justify-content: start;
                margin-top: .5rem;
                align-items: center;

                p {
                    margin-left: 0.6rem;
                    font-weight: 300;
                    font-size: 1.15rem;
                    margin-top: 0.2rem;

                }

            }

            .textoCursos {
                margin-top: .5rem;
                width: auto;
                padding: .5rem;
                min-height: 208px;
                text-align: start;
                font-weight: 400;
            }

            .botonVerCurso {
                transition: all 0.2s;
                @extend .btn;
                align-items: center;
                color: white;
                border-radius: 15px;
                margin: auto;
                padding: .5rem;
                letter-spacing: 3px
                
            }

            .botonVerCurso:hover {
                background-color: $verde-ID;
            }
            .botonVerCurso:active{
                transform: scale(0.98);
    
            }
            @media screen and (max-width: 320px) {
                .caja {

                    width: 280px;



                }

            }



        }

        @keyframes Slide_Up {
            0% {
                transform: translateY(65px);
            }

            100% {
                transform: translateY(0);
            }

        }



    }
}

.defensoria {
    max-width: 100%;
    min-height: 440px;
    padding: 40px;
    background: $gradiente-ID;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 1px;
    line-height: 2rem;
    gap: 2rem;

    img {
        max-width: 100%;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, .17);
    }

    .textoDefensoria {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        .defP1 {
            margin-bottom: 1.7rem;
            max-width: 657px;
            height: auto;
            text-align: center;
            font-size: 1.8rem;
            font-weight: 700;


        }

        .defP2 {
            max-width: 657px;
            text-align: center;
            font-weight: 600;
            font-size: 1.45rem;
        }

        .defP3 {
            max-width: 657px;
            text-align: center;
            font-weight: 600;
            font-size: 1.45rem;

        }

        .buttonAnotarme {
            transition: all 0.2s;
            padding: 1rem;
            @include boton($blanco-ID, $violeta-ID)
        }

        .buttonAnotarme:hover {

            color: $verde-ID;
        }
        .buttonAnotarme:active{
            transform: scale(0.98);

        }
        a {
            color: transparent;
        }



    }

}


.testimonios {
    width: 100%;
    min-height: 500px;

    .cardsTestimonios {
        margin: 1.3rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.8rem;

        .cajaT {

            width: 372px;
            height: fit-content;
            margin: 15px;
            padding: 1rem;
            border-radius: 15px;
            box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, 0.20);
            background-color: white;
            animation: Slide_Up .7s ease;

            .perfil {
                display: flex;
                flex-wrap: wrap;
                height: auto;
                width: 90%;
                margin-left: 5px;
                align-items: center;

            }

            .extracto {

                width: auto;

                img {
                    margin: .85rem 0;
                    width: 27px;
                    height: 27px;

                }

                p {
                    min-height: 135px;

                }
            }

            .titulosPerfil {
                padding: 1rem;
                .subtituloCurso{
                    font-size: 0.97rem;
                    color: #8f8f8f;
                }

            }




        }

    }


}


.confianLogos {
    margin: auto;
    max-width: 80%;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;


}

footer {
    
    background-color: $violeta-ID;



}

.footer {

    min-width: 100%;
    padding: 15px;
    background-image: linear-gradient(to right, #78448f, #9451b1);
    color: white;
    padding: 15px;

    .datosFooter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .footerRedes{
            a{
                margin-right: .7rem;
                img{
                    transition: .2s ease-in-out 0s;
                }
                img:hover{
                    transform: scale(1.25);

                    }
            }
        }

        .tituloFooter {
            font-weight: 600;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: left;
            letter-spacing: 1px;
            font-size: large;

        }

        .listaContacto {
            padding-left: 0ch;
            line-height: 2.4rem;
        }

    }

    .nlEnviar {
        display: flex;
        

        #email {

            height: 46px;
            padding: 0 16px;
            border: 2px solid #ddd;
            border-radius: 4px;
            font-family: 'Rubik', sans-serif;
            outline: 0;
            transition: .4s;
            margin-right: .35rem;

            &:focus {
                border-color: $verde-ID;
            }


        }


    }

    .botonAvion {
        cursor: pointer;
        background-color: white;
        width: fit-content;
        padding: .35rem;
        border-radius: 6px;
        margin: auto;
        transition: all 0.2s;
        



        img {

            width: 35px;
            height: 35px;


        }

    }
    .botonAvion:active{
        transform: scale(0.98);

    }




    .copyright {
        margin-top: 5rem;
        text-align: center;
    }

}

.btn {
    background-color: $violeta-ID;
}

.btn:hover {
    background-color: $verde-ID;
}

.row {
    justify-content: space-around;


}

@media screen and (max-width: 768px) {
    .row {
        justify-content: space-between;
    }



}


.construccion {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.contenedorDefensoria {
    margin-top: 8rem;
}


.fraseDefensoria {

    margin: auto;
    padding: 1.2rem;
    padding-left: 3rem;
    max-width: 70%;
    height: 420px;
    background: url(../Images/seniors-def.png), linear-gradient(268.06deg, #78448F -9.12%, #626DB5 48.25%, #5B9D94 102.31%);
    background-size: cover;
    background-position: center;
    border-radius: 15px;

    p {
        animation: Opacity_Defensoria 2.8s;
    }

    .sosUna {
        max-width: 100%;
        max-height: 80%;
        line-height: 3rem;
        font-size: 1.1rem;
        font-weight: 900;
        color: white;
        letter-spacing: .1rem;
        text-shadow: 1.6px 0 0 rgb(0, 0, 0);

        P {
            font-size: 1.3rem;
        }

    }

    .resolve {
        max-width: 100%;
        max-height: 80%;
        line-height: 3.2rem;
        font-size: 1.1rem;
        font-weight: 900;
        color: white;
        letter-spacing: .1rem;
        text-shadow: 1.6px 0 0 rgb(0, 0, 0);

        P {
            margin-top: 1rem;
            font-size: 2.5vw;
        }

    }

    .contactanos {
        max-width: 100%;
        max-height: 80%;
        line-height: 3.2rem;
        font-size: 1.1rem;
        font-weight: 900;
        color: white;
        letter-spacing: .1rem;
        text-shadow: 1.6px 0 0 rgb(0, 0, 0);

        p {
            line-height: 7rem;
            font-size: 4vw;
            letter-spacing: 0.2rem;
        }
    }




}

@keyframes Opacity_Defensoria {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.consulta {

    margin-left: 500px;
    margin-top: -250px;
    border-radius: 15px;

    .formConsulta {


        margin: auto;
        max-width: 300px;
        line-height: 3rem;
        padding: 1rem;
        border-radius: 15px;
        box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, 0.20);
        background: #FFFFFF;
        animation: Slide_Up_Defensoria 1.2s ease;

        .tituloForm {
            font-size: larger;
            text-align: center;
            font-weight: 900;
            letter-spacing: .1rem;
            color: $violeta-ID;


        }

        #name {
           
            height: 46px;
            padding: 0 16px;
            border: 2px solid #ddd;
            border-radius: 4px;
            font-family: 'Rubik', sans-serif;
            outline: 0;
            transition: .4s;
            margin-right: 5rem;

            &:focus {
                border-color: $violeta-ID;
            }

        }

        #email {
            
            height: 46px;
            padding: 0 16px;
            border: 2px solid #ddd;
            border-radius: 4px;
            font-family: 'Rubik', sans-serif;
            outline: 0;
            transition: .4s;
            margin-right: 5rem;

            &:focus {
                border-color: $violeta-ID;
            }

        }

        textarea {
            line-height: normal;
            /* max-width: 100%; */

        }

        .input {
            cursor: pointer;
            width: auto;
            padding: 0rem 2rem;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #78448f;
            transition: background-color .3s;
            color: white;
            font-weight: 700;
            margin: auto;
            margin-top: 20px;
            letter-spacing: 3px;
            border-radius: 15px;
            border: 0px;
            transition: all 0.2s;


            &:hover {
                background-color: $verde-ID;
            }
            &:active {
                transform: scale(0.98);
            }
        }





    }

}

@keyframes Slide_Up_Defensoria {
    0% {
        transform: translateY(270px);
    }

    100% {
        transform: translateY(0);
    }

}

.videoLidia {
    margin: auto;
    margin-top: -375px;
    width: 70%;
    margin-bottom: 80px;

    iframe {

        max-width: 60%;
        border-radius: 8px;
        box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, .3);
    }

    img {
        margin-top: .5rem;
        width: 24px;
        height: 24px;
    }

    .copyLidia {
        width: auto;

        p {
            color: #78448f;
            margin-top: 1rem;
            font-weight: 800;
            font-size: 1.5rem;
        }
    }

    .testimonioL {
        max-width: 480px;
        font-size: 1.6rem;
    }



}

@media screen and (max-width: 768px) {

    .contenedorDefensoria {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .fraseDefensoria {
            text-align: center;
            margin-bottom: 7%;
            padding: 1rem;
            max-width: 90%;
            min-height: 420px;

            p {
                line-height: 3rem;
                font-size: 3.9vw;
                font-weight: 900;
                letter-spacing: .1rem;

            }
        }

    }

    .videoLidia {
        margin: auto;
        margin-top: -335px;
        width: 70%;
        margin-bottom: 80px;

        iframe {
            margin: auto;
            max-width: 100%;
            border-radius: 8px;
        }
    }

    .consulta {

        margin: auto;
        border-radius: 15px;
        margin-bottom: 7%;



    }

    .videoLidia {

        max-width: 100%;
        margin: auto;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0%;
        margin-top: 0%;

        width: 100%;
        align-items: center;
        text-align: center;
        margin-bottom: 7%;

    }

    .videoLidia iframe {
        margin: auto;
        max-width: 100%;
        border-radius: 8px;
    }

    .testimonioL {
        margin: auto;
        text-align: center;

    }


}

@media screen and (max-width: 320px) {


    .contenedorDefensoria {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .fraseDefensoria {
            text-align: center;
            margin-bottom: 10%;
            padding: 1rem;
            max-width: 90%;

            p {
                margin-top: 1rem;
                line-height: 2rem;
                font-size: 1.1rem;
                font-weight: 900;
                letter-spacing: .1rem;

            }
        }

    }



}



.containerDllamanos {
    margin: auto;
    max-width: 70%;
    padding: 2rem;
    background-color: $verde-ID;
    color: white;
    border-radius: 15px;
    min-height: 100px;
    font-size: 3rem;
    margin-bottom: 3rem;
    a{
        color: white;
        transition: .2s ease-in-out 0s;

    }
    a:hover{
        transform: scale(1.25);
        color: #78448f;
    }
    .contactate {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        word-break: break-all;

    }

    .masInfo {
        font-size: 2rem;

    }

    .defWa {
        display: flex;
        align-items: center;

        img {
            width: 32px;
            height: 32px;
            margin-right: 1rem;
        }

        .numWa {
            font-size: 2rem;
            font-weight: 600;
            letter-spacing: .1rem;

        }
    }

    .defCorreo {
        display: flex;
        align-items: center;

        img {
            width: 32px;
            height: 32px;
            margin-right: 1rem;
        }

        .defEmail {
            font-size: 2rem;
            font-weight: 600;
            letter-spacing: .1rem;
            word-break: break-all;
            p{
                color: black;
            }

        }

    }





}

@media screen and (max-width: 768px) {



    .containerDllamanos {
        max-width: 95%;
        font-size: 1.3rem;

        .masInfo {
            font-size: 1rem;

        }

        .defWa {
            display: flex;
            align-items: center;

            img {
                width: 24px;
                height: 24px;
                margin-right: 1rem;
            }

            .numWa {
                font-size: 1.2rem;
                font-weight: 600;
                letter-spacing: .1rem;


            }
        }

        .defCorreo {
            display: flex;
            align-items: center;

            img {
                width: 24px;
                height: 24px;
                margin-right: 1rem;
            }

            .defEmail {
                font-size: 4vw;
                font-weight: 600;
                letter-spacing: .1rem;
                word-break: break-all;

            }

        }


    }



}


.nosotros {
    background-color: white;
    padding: .5rem;
}

.tituloNosotros {
    margin-top: 4rem;
}

.sectionNosotros {
    max-width: 100%;
    min-height: 510px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    gap: 8%;
    align-items: center;

    p {

        text-align: center;
        max-width: 500px;
        max-height: 252px;

        strong {
            color: $verde-ID;

        }
    }

    iframe {

        text-align: center;
        border-radius: 15px;
        align-items: center;
        box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, .3);

    }


}

@media screen and (max-width: 320px) {



    .sectionNosotros {

        min-height: 650px;


    }


}

.sectionMisionVision {

    width: 100%;
    padding: 1rem;
    color: white;
    background-image: $gradiente-ID;
    min-height: 430px;

    .misionVision {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
        min-height: 430px;
    }

    p {
        max-width: 480px;
        font-size: 1.2rem;
    }


}

.carouselNosotros {
    margin: auto;
    width: 50vw;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.carousel-inner {
    border-radius: 15px;
    box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, .3);
}

@media screen and (max-width: 768px) {

    .sectionMisionVision {
        padding: 1.7rem;
    }

    .mision {
        margin-bottom: 3rem;
    }


    .carouselNosotros {

        width: 85vw;


    }




}


.nuestroEquipo {
    background-color: white;
    padding: 1rem;
}

.containerEquipo {
    min-height: 700px;
    display: flex;



}

.sectionEquipo {
    margin: auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px;



}

.perfilEquipo {
    text-align: center;
    img{
        transition: .2s ease-in-out 0s;
    }
    img:hover{
        transform: scale(1.07);

        }

    .equipoNombre {
        margin-top: .5rem;

        p {
            font-weight: 600;
        }
    }


}

.logosReconocimientos {
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    min-height: 350px;
    align-items: center;

    .logoR {
        text-align: center;
        font-weight: 700;

        p {
            margin-top: .5rem;
            font-size: larger;
            line-height: normal;
        }
    }

}

@media screen and (max-width: 768px) {


    .sectionEquipo {
        margin-top: 2rem;
        gap: 15px;
    }


}


.cursosID {
    padding-top: 4rem;
    background-color: white;
}

.introCursos {

    margin: auto;
    text-align: center;
    width: 45%;

    p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {


    .introCursos {
        width: 80%;
    }


}


.containerCurso {
    padding-top: 8rem;
    padding-bottom: 8rem;

}

.btn-danger{
    border-color: white;
}

.btn-primary{
    --bs-btn-focus-shadow-rgb: 0;
    border-color: transparent;
    transition: all 0.2s;
    &:active{
        transform: scale(0.98);
    }

}
.btn:focus{
   background-color: $violeta-ID;
   border-color: transparent;
   --bs-btn-hover-border-color: transparent;
}
.btn:hover{
    border-color: transparent;
}

.modal-content{
   
    width: 655px;


    
}

@media screen and (max-width: 768px) {



    .modal-content{
   
        width: 550px;
        img{
           width: 515px;
        }
    
    }


}

@media screen and (max-width: 320px) {



    .modal-content{
   
        width: 298px;
        img{
           width: 265px;
        }
    
    }


}


.flexCurso {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .txtCurso {
        width: auto;
        


        h2 {
            color: $violeta-ID;
            font-weight: 600;
            font-size: 3.4rem;
            max-width: 350px;
        }

        p {
            max-width: 500px;
            min-height: 150px;
            margin-bottom: 1rem;
            font-size: larger;

        }

        .buttonCurso {
            cursor: pointer;
            list-style: none;
            text-decoration: none;
            max-width: 400px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #78448f;
            transition: background-color .3s;
            color: white;
            font-weight: 700;
            margin-top: 20px;
            letter-spacing: 3px;
            border-radius: 15px;
            transition: all 0.2s;


        }

        .buttonCurso:hover {
            background-color: $verde-ID;
        }
        .buttonCurso:active {
            transform: scale(0.98);
        }
    }

    .imagenCurso {
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, .17);
        padding: 1.5rem;

        img {
            max-width: 500px;
        }
    }


}

.containerCursoblo {
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: white;

}

@media screen and (max-width: 768px) {



    .imagenCurso {
        margin-top: 3rem;

        img {
            width: 80vw;
        }

    }


}

.containerContacto {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    align-items: center;
    line-height: 3rem;
    min-height: 675px;

    .infoContacto {
        text-align: center;


    }

    .tituloContacto {
        margin-top: -5rem;
        margin-bottom: 1.2rem;
        font-size: 5.4rem;
        font-weight: 600;
        color: $violeta-ID;
    }

    .imgCorreoEmail {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .imgtelefonoNumero {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .mandanosLlamanos {
        font-weight: 600;
        font-size: 1.3rem;
    }

    .IDemail {
        font-weight: 600;
        font-size: 1.6rem;
        text-align: start;
        margin-left: 3.6rem;
    }

    .numero {
        font-weight: 600;
        font-size: 1.6rem;
        text-align: start;
        margin-left: 3.6rem;
    }

    .redes {
        font-weight: 600;
        font-size: 1.6rem;
        text-align: start;
        margin-left: 3.6rem;
    }

    .iconosRedes {
        text-align: start;
        margin-left: 3.6rem;
        a{
            margin-right: .7rem;
            img{
                transition: .2s ease-in-out 0s;
            }
            img:hover{
                transform: scale(1.25);

                }
        }

    }

    .icoRedes {
        margin-right: .7rem;
    }

    .escribinos {
        border-radius: 15px;

        .formEscribinos {
            margin: auto;
            max-width: 310px;
            line-height: 3rem;
            padding: 1rem;
            border-radius: 15px;
            box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, 0.20);
            background: #FFFFFF;

            .tituloForm {
                font-size: larger;
                text-align: center;
                font-weight: 900;
                letter-spacing: .1rem;
                color: $violeta-ID;


            }

            #name {
               
                height: 46px;
                padding: 0 16px;
                border: 2px solid #ddd;
                border-radius: 4px;
                font-family: 'Rubik', sans-serif;
                outline: 0;
                transition: .4s;
                margin-right: 5rem;

                &:focus {
                    border-color: $violeta-ID;
                }

            }

            #email {
                /*  max-width: 100%; */
                height: 46px;
                padding: 0 16px;
                border: 2px solid #ddd;
                border-radius: 4px;
                font-family: 'Rubik', sans-serif;
                outline: 0;
                transition: .4s;
                margin-right: 5rem;

                &:focus {
                    border-color: $violeta-ID;
                }

            }

            textarea {
                line-height: normal;
                

            }

            .input {
                cursor: pointer;
                width: auto;
                padding: 0rem 2rem;
                height: 55px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #78448f;
                transition: background-color .3s;
                color: white;
                font-weight: 700;
                margin: auto;
                margin-top: 20px;
                letter-spacing: 3px;
                border-radius: 15px;
                border: 0px;
                transition: all 0.2s;


                &:hover {
                    background-color: $verde-ID;
                }
                &:active {
                    transform: scale(0.98);
                }
            }
        }
    }
}


.encontranosEn {
    text-align: center;

    p {
        font-weight: 600;
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
}

.mapa {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

    iframe {
        border-radius: 15px;
        box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, 0.20);
    }


}

@media screen and (max-width: 768px) {

    .infoContacto {
        max-width: 70%;
    }

    .containerContacto {
        margin-top: 13rem;
        gap: 40px;
        margin-bottom: 2.6rem;
        line-height: 2.5rem;

        .tituloContacto {

            margin-top: -5rem;
            margin-bottom: 1.2rem;
            font-size: 11vw;
            font-weight: 600;
            color: $violeta-ID;
        }

        .imgCorreoEmail {
            display: flex;
            flex-direction: column;
            gap: 0px;
            align-items: center;



        }

        .IDemail {
            font-weight: 600;
            font-size: 1rem;
            text-align: center;
            margin-left: 0px;


        }

        .imgtelefonoNumero {
            display: flex;
            flex-direction: column;
            gap: 0px;
            margin-left: 0px;

        }

        .numero {
            margin-left: 0px;
            text-align: center;
        }

        .redes {
            font-size: 1.2rem;
            margin-left: 0px;
            text-align: center;
        }

        .iconosRedes {
            margin-left: 0px;
            text-align: center;
            
        }



    }




}







#boton-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
    width: 40px;
    height: 40px;

    img {
        position: absolute;
        left: 9px;
        top: 12px;

    }
}